<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="CustomerMapper">

	<resultMap id="CustomerCateMap"
		type="study.team.abuhae.model.Cus_category">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="cateno" column="cateno" />
		<result property="category" column="category"/>
		<result property="subcateno" column="subcateno" />
		<result property="sub_category" column="sub_category"/>
	</resultMap>

	<resultMap id="CustomerSubCateMap"
		type="study.team.abuhae.model.Cus_sub_category">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="subcateno" column="subcateno" />
		<result property="cateno" column="cateno"/>
		<result property="sub_category" column="sub_category" />
		<result property="boardnum" column="boardnum" />
		<result property="title" column="title" />
		<result property="text" column="text" />
		<result property="writer" column="writer" />
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />
		<result property="category" column="category"/>
	</resultMap>
	
	<resultMap id="CustomerBbsMap"
		type="study.team.abuhae.model.Cus_bbs">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="boardnum" column="boardnum" />
		<result property="subcateno" column="subcateno"/>
		<result property="title" column="title" />
		<result property="text" column="text" />
		<result property="writer" column="writer" />
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />
	</resultMap>
	
	<select id="selectSubTitleList"
	parameterType="study.team.abuhae.model.Cus_sub_category" resultMap="CustomerSubCateMap">
		select cs.cateno, cb.boardnum, cs.subcateno, cb.title, cb.text, cb.writer, cb.edit_date, cs.sub_category from cus_sub_category cs 
		inner join cus_bbs cb 
		on cb.subcateno = cs.subcateno
		inner join cus_category cc
		on cs.cateno = cc.cateno
		
		<where>
			<if test="title != null and title != ''">
				cb.title like concat('%', #{title}, '%');
			</if>
		</where>
		
	</select>
	
	<select id="selectTitleList"
	parameterType="study.team.abuhae.model.Cus_category" resultMap="CustomerCateMap">
		select cc.cateno, cs.subcateno, cs.sub_category, cc.category from cus_category cc inner join cus_sub_category cs on cs.cateno = cc.cateno
	</select>
	
	<select id="selectCusItem"
	parameterType="study.team.abuhae.model.Cus_sub_category" resultMap="CustomerSubCateMap">
		select cb.boardnum, cs.cateno, cc.category, cs.subcateno, cb.title, cb.text, cb.writer, cb.edit_date, cs.sub_category from cus_sub_category cs 
		inner join cus_bbs cb on cb.subcateno = cs.subcateno
		inner join cus_category cc on cs.cateno=cc.cateno
		<where>
			cb.boardnum=#{boardnum}
		</where>
	</select>
	
</mapper>