<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="MypageMapper">

<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="MypageMap"
		type="study.team.abuhae.model.Member">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="memberno" column="memberno" />
		<result property="type" column="type"/>
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="birthdate" column="birthdate" />
		<result property="startdate" column="startdate" />
		<result property="enddate" column="enddate" />
		<result property="profile_img" column="profile_img" />
		<result property="job_opening" column="job_opening" />
		<result property="ticket_type" column="ticket_type" />
		<result property="ticket_price" column="ticket_price" />
		<result property="gender" column="gender" />
	</resultMap>

	<resultMap id="MomMpageMap"
		type="study.team.abuhae.model.Mom_info">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="momno" column="momno" />
		<result property="want_act" column="want_act" />
		<result property="want_age" column="want_age" />
		<result property="kids_num" column="kids_num" />
		<result property="kids_age" column="kids_age" />
		<result property="payment" column="payment" />
		<result property="si" column="si" />
		<result property="gu" column="gu" />
		<result property="dong" column="dong" />
		<result property="schedule" column="schedule" />
		<result property="schedule_ok" column="schedule_ok" />
		<result property="description" column="description" />
		<result property="sitter_gender" column="sitter_gender" />
		<result property="interview_type" column="interview_type" />
		<result property="care_type" column="care_type" />
		<result property="openingdate" column="openingdate" />
		<result property="apply_title" column="apply_title"/>
		<result property="apply_content" column="apply_content"/>
		<result property="kids_age2" column="kids_age2"/>
		<result property="payment_ok" column="payment_ok"/>
		<result property="memberno" column="memberno" />
	</resultMap>
	
	<!-- 로그인한 회원정보 조회 조회 -->
	<select id="selectItem" 
	parameterType="study.team.abuhae.model.Mom_info" resultMap="MomMpageMap">
		SELECT m.memberno, m.name, m.type, m.id, m.password, m.email, m.phone, m.birthdate, m.job_opening,
		 mi.momno, mi.want_act, mi.want_age, mi.kids_num, mi.kids_age, mi.payment, mi.si, mi.gu, mi.dong, mi.schedule, 
		 mi.schedule_ok, mi.sitter_gender, mi.interview_type, mi.care_type, mi.openingdate, mi.apply_title, mi.apply_content FROM mom_info mi
		INNER JOIN member m ON m.memberno=mi.memberno
		
		<where>
			momno = #{momno}
		</where>
	</select>

	<!-- 비밀번호 수정 -->
	<update id="updatePassword"
		parameterType="study.team.abuhae.model.Member" useGeneratedKeys="true"
		keyProperty="memberno">
		update member set password='#{password}' 
		<where>
			memberno=#{memberno}
		</where>
	</update>
	
	<!-- 쿠폰조회 -->
	<select id="selectCouponList"
	parameterType="study.team.abuhae.model.Coupon" resultMap="MomMpageMap">
		select coup_name, coup_condition, coup_price, reg_date, exp_date from coupon
		
		<where>
			memberno = #{memberno}
		</where>
	</select>
	
	<!-- 신고내역 조회 -->
	<select id="selectReportList"
	parameterType="study.team.abuhae.model.Report">
		select reportno, r.type, r.contents, r.momno, r.sitterno, m.name from report r
		inner join sitter_info s ON r.sitterno=s.sitterno 
		inner join member m on m.memberno=s.memberno
		<where>
			momno=#{momno} and who='M'
		</where>
	</select>
	
	<!-- 구직중/구인중 토글기능 -->
	<update id="updateJobopening"
	parameterType="study.team.abuhae.model.Member" useGeneratedKeys="true"
		keyProperty="memberno">
		update member set job_opening='#{job_opening}' where memberno=#{memberno};
	</update>
</mapper>


