@charset "UTF-8";

		* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
/* 전체 박스 크기*/
.container {
	height: 1200px;
}
/* 왼쪽 사이드 바 */
.sidebar {
	padding-top: 80px;
	height: 500px;
}
/* 게시판 관리 글씨 위치 */
.middle {
	padding-top: 45px;
}
/* 게시판 크기 */
.text_box {
	height: 500px;
	margin-top: 10px;
}
#connect {
	float: right;
}
.button2 {
    display: flex;
    justify-content: flex-end;
}
.btn-toolbar {
    display: flex;
    justify-content: center;
}
/* 후기관리 / 신고내역 관리 / 공지사항 / FAQ 박스 크기 및 정렬 */
.middle_box {
	height: 130px;
	border-style: solid;
	margin: 10px 0;
	text-align: center;
	background-color: #eeeeee;
}
/* 후기관리 / 신고내역 관리 / 공지사항 / FAQ 버튼 위치 및 색상 */
.middle_box>.btn {
	margin-top: 50px;
	width: 120px;
	margin-left: 30px;
}