@charset "UTF-8";
/** 초기 설정값 */
/* 초기 설정 -----------------------------------------------------*/
.body,
html,
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/** ------------------------------------전체 회원 관리 ---------------------------*/

.filter {
  padding: 0 30px 0 10px;
  background: #fff url(../img/select.png) no-repeat right 10px center;
  display: inline;
  height: 32px;
  margin: 0;
  border: 1px solid #d4d4d4;
  color: #2e3039;
  font-size: 14px;
  line-height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0 2px 1px;
}

.state {
  margin: 10px 0;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

/** 페이지 공통 설정값*/
.wrap_member {
  padding: 20px;
}

tr,
td {
  height: 30px;
}

/** 회원관리 타이틀 */
.title_cont {
  padding: 0 0 5px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breadcrumb {
  padding: 0;
  margin-top: 4px;
  font-size: 12px;
  background: transparent;
}

.breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.breadcrumb > li + li:before {
  color: #ccc;
  content: ">\00a0";
}

/** 회원관리 테이블 */
.table {
  margin: 0;
}

.member_list {
  padding: 15px 10px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.table-bordered > thead > tr > th {
  border: lpx solid #ddd;
  border-bottom: 3px solid rgb(233, 233, 233);
}
.table-bordered > tbody > tr > td {
  border: 1px solid #ddd;
}

.table_title {
  padding: 0 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table_title h3 {
  font-size: 1.3em;
}

.table_title.last_tl {
  margin-bottom: 15px;
}

/** 드롭다운 */
.lv_drop_list {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.dropdown {
  margin-top: 3px;
}

.dropdown #drop1,
.dropdown #drop2,
.dropdown #leave_drop1,
.dropdown #lv_drop1,
.dropdown #lv_drop2 {
  padding: 1px 7px;
  color: #666666;
  border: 1px solid #d2d6de;
  border-radius: 3px;
}

.dropdown #lv_drop1 {
  margin-right: 10px;
}

.drop_list {
  text-align: center;
}

/** pagination */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > li > a {
  background-color: #fafafa;
  color: #666666;
}

.pagination .active span {
  background-color: #337ab7;
  border-color: #337ab7;
}

/** 신고회원 관리 */
.group_report {
  margin-top: 30px;
  padding-right: 10px;
  padding-left: 240px;
}
.group_member {
  padding-right: 10px;
  padding-left: 240px;
}
.btn_list {
  display: flex;
  justify-content: flex-end;
}

.rep_btn {
  padding: 2px 7px;
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #999999;
  color: #666666;
  margin-right: 10px;
  margin-bottom: 15px;
}

.rep_btn:last-child {
  margin-right: 0;
}

.line {
  background-color: #d2d6de;
  width: 100%;
  height: 1px;
  margin-bottom: 15px;
}
.header_yun {
  padding-left: 265px;
  padding-top: 5px;
}
/**------------------------- 탈퇴회원관리 ---------------------------------------------------*/

/** 탈퇴회원관리 페이지 공통 설정값 */
.wrap_leave {
  padding: 20px;
}
