@charset "UTF-8";
.mTab.typeTab > ul {
    position: relative;
    height: 32px;
    border: 1px solid #dadcdd;
    padding: 0;
}
.mTab.typeTab {
    background-color: #f8f8f8;
}
.mTab.typeTab > ul > li.selected {
    height: 33px;
    margin: -1px 0 -1px -1px;
    border: 1px solid #1c1c1c;
    border-bottom: 0;
    background-color: #fff;
}
.mTab.typeTab > ul > li, .mTab.typeTab > ul > li > ul > li {
    float: left;
}
.mTab.typeTab > ul > li.selected a {
    color: #1c1c1c;
}
.mTab.typeTab > ul > li a {
    float: left;
    min-width: 40px;
    height: 32px;
    padding: 0 15px;
    font-size: 12px;
    color: #898989;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
}
.mTab.typeTab > ul > li {
    border-right: 1px solid #dadcdd;
}
li {
    list-style: none;
}
.mBoard.gScroll {
    position: relative;
    overflow: auto;
    border-right: 1px solid #d9dadc;
    border-left: 1px solid #d9dadc;
}
table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
.mBoard.gScroll th, .mBoard.gScroll td {
    border-right-width: 0;
    border-left-width: 0;
    border-right: 1px solid #d9dadc;
}
.mBoard th, .mBoard td {
    padding: 9px 9px 7px;
    vertical-align: top;
}
.mBoard thead th {
    border: 1px solid #bbc0c4;
    color: #80878d;
    text-align: center;
    vertical-align: middle;
}
.mBoard tbody td {
    border: 1px solid #bbc0c4;
    color: #80878d;
    text-align: center;
    vertical-align: middle;
}
.mBoard th {
    font-weight: normal;
    background-color: #f5f4f4;
}
.Title {
    margin-bottom: 20px;
    padding-left: 255px;
    display: flex;
    justify-content: space-between;
}
.Title h1 {
    margin-bottom: 20px;
    font-size: 2em;
}
.button {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    background-color: #ffffff;
    border: 1px solid gray;
    width: auto;
}
.tabCont {
    margin-left: 150px;
    padding-left: 110px;
    padding-right: 30px;
}
.dropdown {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 30px;
}
.filter {
   margin-right: 10px;
}
.breadcrumb {  
  margin-top: 20px;
  margin-right: 30px;
  font-size: 12px;
  top: 15px;
  right: 10px;
  background: transparent;
}
.breadcrumb >.active {
    color: #444;
}
.breadcrumb > li > a {
    color: #444;
    text-decoration: none;
}