/* 초기 설정 -----------------------------------------------------*/
.body,
html,
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/** 마이페이지 공통 --------------------------------------------*/
.wrap_mpm {
  padding: 20px 20px;
  font-size: 1em;
  font-weight: 900;
  max-width: 700px;
  margin: 0 auto;
}

/* 첫번째 항목 */
.wrap_mpm .group1_mpm {
  font-weight: bold;
}

.wrap_mpm .group1_mpm .mpm_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

.wrap_mpm .group1_mpm .mpm_title h3 {
  font-size: 1.5em;
}

.wrap_mpm .group1_mpm .mpm_title .mpm_title_cont a {
  font-size: 0.8em;
  color: #696969;
}

/* 두번째 항목 --------------------------------------------------*/

.wrap_mpm .group2_mpm .mpm_profile {
  background-color: #e6f1ee;
  padding: 20px 20px 15px;
}

.wrap_mpm .group2_mpm .mpm_prof_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrap_mpm .group2_mpm .mpm_info_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrap_mpm .group2_mpm .mpm_info_left img {
  width: 52px;
  height: 52px;
  border-radius: 56px;
}

.wrap_mpm .group2_mpm .prof_info_cont {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.wrap_mpm .group2_mpm .prof_info_cont p {
  font-size: 0.8em;
}

.wrap_mpm .group2_mpm .mom_info_dt {
  display: flex;
  flex-direction: row;
}

.wrap_mpm .group2_mpm .info_mom {
  margin-top: 10px;
  font-size: 1em;
  font-weight: bold;
}

.wrap_mpm .group2_mpm .info_mom:last-child {
  margin-top: 14px;
  margin-left: 5px;
  font-size: 0.85em;
  font-weight: normal;
}

.wrap_mpm .group2_mpm .mpm_profile a button {
  min-width: 69px;
  min-height: 30px;
  padding: 0 10px;
  background-color: rgb(34, 172, 135);
  box-shadow: 1px 3px 3px rgb(141, 206, 189);
  border: 0;
  border-radius: 17px;
  font-size: 0.857em;
  font-weight: bold;
  color: #fff;
}

/** 토글버튼 세부 조정 (수정필요) */
.wrap_mpm .group2_mpm .mpm_profile .buy_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.wrap_mpm .group2_mpm .mpm_profile .buy_title .buy_title_left {
  display: flex;
  align-items: center;
}

.wrap_mpm .group2_mpm .mpm_profile .buy_title .buy_tl_switch {
  margin-top: 3px;
  margin-left: 10px;
}

.wrap_mpm .group2_mpm .mpm_profile .buy_title .buy_tl_switch label {
  margin-left: 5px;
}
/** 토글버튼 세부 조정 (수정필요) end*/

/** 두번째 항목, 토글버튼 (수정필요)*/
.wrap_mpm .group2_mpm .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 16px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.wrap_mpm .group2_mpm .switch input {
  display: none;
}

/* The slider */

.wrap_mpm .group2_mpm .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wrap_mpm .group2_mpm .slider:before {
  position: absolute;
  content: "";
  top: -4px;
  height: 23px;
  width: 23px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wrap_mpm .group2_mpm input:checked + .slider {
  background-color: rgb(34, 172, 135);
}

.wrap_mpm .group2_mpm input:focus + .slider {
  box-shadow: 0 0 1px rgb(34, 172, 135);
}

.wrap_mpm .group2_mpm input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.wrap_mpm .group2_mpm .slider.round {
  border-radius: 34px;
}

.wrap_mpm .group2_mpm .slider.round:before {
  border-radius: 50%;
}

.wrap_mpm .group2_mpm .buy_title p {
  margin: 0px;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
}

/* 세번째 항목 --------------------------------------------------*/

/** 공통 */
.wrap_mpm .group3_mpm {
  padding: 10px 10px;
}

.wrap_mpm .group3_mpm .mpm_menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.wrap_mpm .group3_mpm .mpm_menu a:hover {
  background-color: #eee;
}
/** end 공통 */

/** 내용 3개일 경우 */
.wrap_mpm .group3_mpm .mpm_menu .mps_menu3_list1 {
  width: 7%;
  font-size: 1.7em;
  color: rgb(34, 172, 135);
  text-align: left;
}

.wrap_mpm .group3_mpm .mpm_menu .mps_menu3_list2 {
  width: 88%;
  margin: 8px 10px 10px 10px;
  font-size: 1.071em;
  color: #000;
}

.wrap_mpm .group3_mpm .mpm_menu .mps_menu3_list3 {
  width: 5%;
  text-align: right;
  font-size: 1.2em;
  color: #838383;
}

/** 내용 4개일 경우 */
.wrap_mpm .group3_mpm .mpm_menu .mps_menu_list1 {
  width: 7%;
  font-size: 1.7em;
  color: rgb(34, 172, 135);
  text-align: left;
}

.wrap_mpm .group3_mpm .mpm_menu .mps_menu_list2 {
  width: 68%;
  margin: 8px 10px 10px 10px;
  font-size: 1.071em;
  color: #000;
}

.wrap_mpm .group3_mpm .mpm_menu .mps_menu_list3 {
  width: 20%;
  text-align: right;
  color: rgb(48, 132, 132);
  margin-top: 7px;
}

.wrap_mpm .group3_mpm .mpm_menu .mps_menu_list4 {
  width: 5%;
  text-align: right;
  font-size: 1.2em;
  color: #838383;
}

/** for line */
.wrap_mpm .line_bold {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 15px;
  background-color: rgb(243, 241, 241);
}

/* 네번째 항목 --------------------------------------------------*/
.wrap_mpm .group4_mps .mps_bottom {
  background-color: rgb(243, 241, 241);
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.wrap_mpm .group4_mps .mps_bottom .bottom_con_in {
  font-size: 1em;
  color: #000;
  margin-top: 10px;
}

.wrap_mpm .group4_mps .mps_bottom .bottom_con_in.bt_cash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrap_mpm .group4_mps .mps_bottom .bt_cash_p {
  width: 8%;
  color: rgb(48, 132, 132);
  text-align: center;
}

.wrap_mpm .group4_mps .mps_bottom .bottom_con_in:first-child {
  margin: 0;
}

.wrap_mpm .group4_mps .mps_bottom .bottom_con_in .bt_cash_p {
  margin-right: 17px;
}
