@charset "UTF-8";
.container {
					margin: 0;
					padding: 0;
	
				}
				.col-xs-12 {
					margin: 0;
					padding: 0;
					
				}

				img {
					max-width: 100%;
					height: auto;
				}
	    		.main {
	    			background-color: #f1f1f1;
	    			padding: 15px 10px 100px;
	    		}
	    		
	    		.main_box {
	    			margin-bottom: 25px;
	    		}
	    		.box_name {
	    			margin-bottom: 7px;
	    			font-weight: bold;
	    			color: #444;
	    			font-size: 1em;
	    		}
	    		.main_area {
	    			border-radius: 3px;
	    			background-color: rgb(245, 254, 255);
	    			border: 1px solid rgb(187, 220, 220);
	    		}

	    		.info_box {
	    			margin-bottom: 25px;
	    		}
	    		.info_area {
	    			padding: 0;
	    			border-radius: 3px;
	    			backgroud-color: #fff;
	    		}
	    		.info_text_box {
	    			background-color: #fff;
	    			padding: 15px;
	    		}
				

				.talk_box {
					margin-bottom: 25px;
				}
				.talk_area {
					position: relative;
					padding: 15px;
					border-radius: 3px;
					background-color: #fff;
				}
				.talk_main {
					width: 100%;
				}
				.talk_menu {
					display: flex;
					width: 100%;
					-webkit-box-pack: justify;
					-webkit-box-align: center;
					justify-content: space-between;
				}
				
				.talk_menu_ok_title {
					color: rgb(255, 112, 0);
					letter-spacing: -0.2px;
					font-weight: bold;
					line-height: 19px;
					margin: 0;
					padding: 0;
					width: 100%;
					font-size: 0.9em;
				}
				.talk_menu_review {
					margin-left: 6px;
				}
				.talk_menu_review_title {
					margin: 0px;
					padding: 0px;
					color: rgb(170, 170, 170);
					letter-spacing: -0.2px;
					line-height: 19px;
					font-size: 0.9em;
					width: 100%;
					font-wwight: bold;
				}
				
				.fixed_box {
					display: flex;
					min-height: 50px;
					padding: 10px 18px;
					background-color: #fff;
					align-items: stretch;
					position:fixed;
					bottom: 0;
					max-width: 600px;
					width: 100%;
					z-index: 14;
					box-sizing: border-box;
					box-shadow: 0 -2px 3px 0 hsla(0,0%,63.9%,0.5);
				}
				.fixed_area {
					display: flex;
					flex-direction: column;
				}
				.fixed_area_age {
					align-items: baseline;
					display: inline-flex;
					
				}
				.fixed_name {
					color: #5b5b5b;
					font-weight: bold;
					font-size: 1.5em;
				}
				.fixed_age {
					font-weight: bold;
					color: #5b5b5b;
					font-size: 1.1em;
				}
				.fixed_money {
					font-size: 1em;
					color: #000;
					font-weight: bold;
				}
				.fixed_btn {

					display: inline-flex;
					align-items: center;
				}
				.fixed_btn_jim {
					position: relative;
					left: 55px;
					text-align: center;
				}
				.btn-jim {
					border: 10px;
					box-sizing: border-box;
					display: inline-block;
					cursor: pointer;
					text-decoration: none;
					margin: 0px;
					padding: 0px;
					z-index: 1;
					position: relative;
					background: none;
					height: 25px;
					width: 25px;
					overflow: visible;
					
				}
				.interview_btn {
					position: relative;
					left: 45px;
					padding-left: 15px;
					color: rgba(0, 0, 0, 0.87);
					background-color: rgb(255, 255, 255);
					box-sizing: border-box;
					border-radius: 2px;
					height: 50px;
					min-width: 88px;
					display: inline-block;
				}
				.btn-interview {
					border: 10px;
					box-sizing: border-box;
					display: inline-block;
					cursor: pointer;
					background-color: #ff7000;
					text-align: center;
					border-radius: 2px;
					height: 50px;
					z-index: 1;
					position: relative;
					outline: none;
					margin: 0px;
					padding: 0px;
					text-decoration: none;
					width: 100%;
				}
				.btn_text_box {
					height: 50px;
					border-radius: 2px;
					top: 0;
				}
				.btn_text {
					position: relative;
					opacity: 1;
					font-size: 1.1em;
					font-weight: bold;
					letter-spacing: 0px;
					text-transform: uppercase;
					margin: 0px;
					user-select: none;
					padding-left: 16px;
					padding-right: 16px;
					color: #fff;
					line-height: 50px;
				}
				.btn-primary {
					border-color: #ff7000;
					background-color: #ff7000;
					
				}
				.btn-sm {
					height: 50px;
					padding-top: 10px;
					font-weight: bold;
					font-size: 1.15em;
				}
				.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
					background-color: #ff7000;
					border-color: #ff7000;
				}

				.btn-default:hover {
				  background-color: #fff;
				}
				.tab {
				display: flex;
				list-style: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
				#tab01 {
					display: flex;
					-webkit-box-pack: center;
					-webkit-box-align: center;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 110px;
					height: 37px;
					background: rgb(255, 238, 224);
					border-radius: 4px;
					word-break: normal;
					-webkit-tap-highlight-color: transparent;
					cursor: pointer;
				}
				#tab01_p {
					margin: 0;
					padding: 0;
					color: #ff7000;
					letter-spacing: -0.2px;
					font-weight: bold;
					line-height: 19px;
					font-size: 0.9em;			
				}
				#tab02, #tab03 {
					margin-left: -20px;
					display: flex;
					-webkit-box-pack: center;
					-webkit-box-align: center;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 110px;
					height: 37px;
					background: rgb(255,238,224);
					border-radius: 4px;
					word-break: normal;
					-webkit-tap-highlight-color: transparent;
					cursor: pointer;
				}
				#tab02_p, #tab03_p {
					margin: 0;
					padding: 0;
					color: #ccc;
					letter-spacing: -0.2px;
					font-weight: bold;
					line-height: 19px;
					font-size: 0.9em;	
				}
				#tabcontent_more {
				display: block;
				background-color: #fff;
				padding: 6px 12px;
			}